body {
  background-color: #f68134;
}
h1 {
  color: #727272;
  font-size: 80px;
  text-align: center;
}
h2 {
  color: #727272;
  font-size: 20px;
  text-align: center;
}
p {
  color: #989898;
  font-size: 15px;
}
p a {
  color: #989898;
  text-decoration: none;
}
p a:hover {
  color: #33eaf5;
}
p.feelsLike {
  text-align: right;
}
p.feelsLike:first-letter {
  text-transform: capitalize;
}
p.weatherDetails {
  text-align: left;
}
p.weatherDetails:first-letter {
  text-transform: capitalize;
}
footer {
  font-family: monospace;
  text-align: center;
  color: #ededed;
}
footer a {
  font-family: monospace;
  text-align: center;
  color: #ededed;
  text-decoration: none;
}
footer a:hover {
  font-family: monospace;
  text-align: center;
  color: #33eaf5;
}
.degreeLink {
  text-align: center;
}

.enterNewCity {
  border: 1px solid;
  border-color: #d5d5d5;
  border-radius: 3px;
  font-size: 15px;
  width: 86%;
  line-height: 2em;
}
.enterNewCity:hover {
  border-color: #33eaf5;
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 2%);
}
::placeholder {
  color: #989898;
}
.submitButton {
  border: 1px solid;
  border-color: #d5d5d5;
  border-radius: 3px;
  color: #fafafa;
  line-height: 1.9em;
}
.submitButton:hover {
  border-color: #33eaf5;
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 2%);
}
.current-button {
  border: 1px solid;
  border-color: #d5d5d5;
  border-radius: 3px;
  color: #fafafa;
  line-height: 1.9em;
}
.current-button:hover {
  border-color: #33eaf5;
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 2%);
}
.currentDate {
  color: #989898;
  font-size: 15px;
}
.col-xs-1 {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 30px;
  border-radius: 20px;
  background: linear-gradient(#fdfdfd, #fafafa);
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 15%);
  min-width: 430px;
}
.mainIcon {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.sun-icon {
  color: #f68134;
  font-size: 25px;
  padding: 5px;
}
.sun-cloud-icon {
  color: #f68134;
  font-size: 25px;
  padding: 5px;
}
.cloud-icon {
  color: #f68134;
  font-size: 25px;
  padding: 5px;
}
.sun-rain-icon {
  color: #f68134;
  font-size: 25px;
  padding: 5px;
}
